*{
  box-sizing: border-box;
}

.password-container{
  width: 300px;
  border: 3px solid skyblue;
  padding: 20px;
}

label{
  display: block;
  font-family: Futura, Calibri, sans-serif;
  margin-bottom: 6px;
}

input{
  padding: 7px;
  height: 40px;
}

.pw-hidden{
  vertical-align: top;
  display: inline-block;
  border: 1px solid #ddd;
  height: 40px;
  line-height: 34px;
  font-size: 28px;
  color: #ddd;
  padding: 0 10px;
  cursor: pointer;
}

