*{
  box-sizing: border-box;
}

.pw-container{
  width: 300px;
  border: 3px solid skyblue;
  padding: 20px;
}

  .pw-container label{
    display: block;
    font-family: Futura, Calibri, sans-serif;
    margin-bottom: 6px;
  }

  .user-pw{
    padding: 7px;
    height: 40px;
  }

  .pw-container i{
    line-height: 34px;
    font-size: 28px;
    padding: 0 10px;
    cursor: pointer;
  }

  .pw-toggler{
    outline: 0;
    background: #fff;
    padding: 0;
    display: inline-block;
    height: 40px;
    vertical-align: top;
    border: 1px solid #333;
    color: #411;
  }
  
  .pw-hidden{
    color: #ddd;
  }

